.secretaria-tic {
  text-align: center;

    .secretaria-tic-header {
      background-color: #67a5be;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: rgb(8, 8, 8);
    }
}

