$background_color_drawer_components:#053407;
$font_color_title_drawer: #ffffff;
$button_icon_arrow_color_close_drawer: #17bad3;
$background_color_select_button_icon_arrow: #286519;

$background_color_drawer_content: #0d4926; 
$background_color_select_drawer_content: #0e9837;
$drawer_content_items_title_font_color: #f2f3f3;
$drawer_content_subitems_title_font_color: #eceee8;
$drawer_down-up_arrow_button_color: #17bad3;
$background_color_subitems_drawer_content: #1c643a;
$background_color_select_subitems_drawer: #26743d;

$font_color_subitems_icon: #eceee8;

$divider_line_background_color: #18bdd3;

$color_icon_button_menu_open_drawer:#ffffff; 
$background_color_icon_button_menu_open_drawer: #074d0b;
$background_color_select_icon_button_menu_open_drawer: #2f9934;

$font_size_drawer_element_arrow_downUp: 16px;
$font_weight_drawer_element_arrow_downUp: 550;
